@page "{handler?}"
@model AOS.Pages.Exams.UserTickets.GetUserTicketModel

@{
    ViewData["Title"] = "GetUserTicket";
}


<div class="container">
    <h4>Экзамен</h4>
    <hr />
    <table class="table table-sm table-bordered mb-5">
        <tr>
            <th class="w-25">@Html.DisplayNameFor(model => model.Action.Exam.Name)</th>
            <td>@Html.DisplayFor(model => model.Action.Exam.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Action.DateStart)</th>
            <td>@Html.DisplayFor(model => model.Action.DateStart)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Action.DateEnd)</th>
            <td>@Html.DisplayFor(model => model.Action.DateEnd)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Action.IsActive)</th>
            <td>@Html.DisplayFor(model => model.Action.IsActive)</td>
        </tr>
    </table>

    @if (Model.Ticket != null)
    {
        <h4>Полученный билет</h4>
        <table class="table table-sm table-bordered mb-5">
            <tr>
                <th class="w-25">@Html.DisplayNameFor(model => model.Ticket.Name)</th>
                <td>@Html.DisplayFor(model => model.Ticket.Name)</td>
            </tr>
        </table>

        @if (Model.ExamResult != null)
        {
            <h4>Загруженный файл</h4>
            <table class="table table-sm table-bordered mb-5">
                <tr>
                    <th class="w-25">@Html.DisplayNameFor(model => model.ExamResult.FileName)</th>
                    <td>@Html.DisplayFor(model => model.ExamResult.FileName)</td>
                </tr>
            </table>
        }
        else
        {
            <div class="row">
                <div class="col-md-4">
                    <form enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserTicketId" value="@Model.ExamUserTicket.Id" />
                        <div class="form-group">
                            <label asp-for="UploadExamFile" class="control-label"></label>
                            <input asp-for="UploadExamFile" class="form-control-file" type="file" required />
                            <span asp-validation-for="UploadExamFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-page-handler="UploadExam" asp-route-actionId="@Model.Action.Id" type="submit" value="Сдать экзамен" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        }
    }

    <div class="d-flex mb-5">
        <a asp-page="./Actions" class="btn btn-secondary mr-3">Назад</a>
        @if (Model.Ticket == null)
        {
            <form method="post">
                <input type="hidden" asp-for="ExamId" value="@Model.Action.Exam.Id" />
                <input type="hidden" asp-for="ActionId" value="@Model.Action.Id" />
                <button type="submit" class="btn btn-success mr-3">Получить билет</button>
            </form>
        }
    </div>
</div>
