@page
@model AOS.Pages.Events.Homeworks.IndexModel

<div class="container">
    <h1>Домашние задания</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Homework[0].FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Homework[0].CreatedAt)
                </th>            
                <th>
                    @Html.DisplayNameFor(model => model.Homework[0].Material)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Homework[0].User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Homework) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.Material.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-success">Перейти</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
