@page
@model AOS.Pages.Exams.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Билеты</h1>
    <table class="table table-bordered">
        <tr>
            <th class="w-25">@Html.DisplayNameFor(model => model.Ticket.Name)</th>
            <td>@Html.DisplayFor(model => model.Ticket.Name)</td>
        </tr>
        <tr>
            <th class="w-25">@Html.DisplayNameFor(model => model.Ticket.Exam)</th>
            <td>@Html.DisplayFor(model => model.Ticket.Exam.Name)</td>
        </tr>
    </table>
    <div class="d-flex mb-5">
        <a asp-page="./Index" asp-route-examId="@Model.Ticket.ExamId" class="btn btn-secondary mr-3">Назад</a>
        <a asp-page="./Edit" asp-route-id="@Model.Ticket.Id" class="btn btn-primary mr-3">Изменить</a>
        <a asp-page="./Delete" asp-route-id="@Model.Ticket.Id" class="btn btn-danger mr-3">Удалить</a>
        <form method="post">
            <input type="hidden" asp-for="Id" value="@Model.Ticket.Id" />
            <button type="submit" class="btn btn-success mr-3">Скачать билет</button>
        </form>
    </div>
</div>
