@page
@model AOS.Pages.Exams.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3>Экзамен: @Model.Exam?.Name</h3>
            <h4>Билеты</h4>
        </div>
        <a asp-page="./Create" asp-route-examId="@Model.Exam?.Id" class="btn btn-info btn-lg">Новый билет</a>
    </div>
    <table class="table table-hover col-md-6 sortable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td align="right">
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-success w-75">Перейти</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="/Exams/Details" asp-route-id="@Model.Exam.Id">Назад</a>
</div>

@section Scripts {
    <script src="~/js/sort.js"></script>
}
