@page
@model AOS.Pages.Results.Exams.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Оценка работы</h1>

    <div>
        <table class="table table-bordered">
            <tr>
                <th class="w-25">@Html.DisplayNameFor(model => model.ExamResultGrade.Rate)</th>
                <td>@Html.DisplayFor(model => model.ExamResultGrade.Rate)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ExamResultGrade.Review)</th>
                <td>@Html.DisplayFor(model => model.ExamResultGrade.Review)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ExamResultGrade.ExamResult)</th>
                <td>@Html.DisplayFor(model => model.ExamResultGrade.ExamResult.FileName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ExamResultGrade.Teacher)</th>
                <td>@Html.DisplayFor(model => model.ExamResultGrade.Teacher.FullName)</td>
            </tr>
        </table>
    </div>
    <div>
        <a asp-page="./Index">Назад</a>
    </div>
</div>
