@page
@model AOS.Pages.Exams.ExamResults.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Экзаменоционная работа</h1>
    <div>
        <table class="table table-bordered">
            <tr>
                <th class="w-25">@Html.DisplayNameFor(model => model.ExamResult.DateCreated)</th>
                <td>@Html.DisplayFor(model => model.ExamResult.DateCreated)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ExamResult.ExamUserTicket.User)</th>
                <td>@Html.DisplayFor(model => model.ExamResult.ExamUserTicket.User.FullName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ExamResult.ExamUserTicket)</th>
                <td>@Html.DisplayFor(model => model.Ticket.Name)</td>
            </tr>
        </table>
    </div>
    <div class="d-flex mb-5">
        <a asp-page="./Index" asp-route-actionId="@Model.ExamResult.ExamUserTicket.ExamActionId" class="btn btn-secondary mr-3">Назад</a>
        <a asp-page="/Results/Exams/Create" asp-route-examResultId="@Model.ExamResult.Id" class="btn btn-primary mr-3">Оценка работы</a>
        <form method="post">
            <input type="hidden" asp-for="Id" value="@Model.ExamResult.Id" />
            <button type="submit" class="btn btn-success">Скачать</button>
        </form>
    </div>
</div>

