@page
@model AOS.Pages.Exams.ExamResults.IndexModel

@{
    ViewData["Title"] = "Index";
    string ticketName;
}

<div class="container">
    <h3>Экзаменационные работы</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExamResult[0].DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamResult[0].ExamUserTicket.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamResult[0].ExamUserTicket)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.ExamResult) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamUserTicket.User.FullName)
                </td>
                @{ ticketName = Model.Tickets.FirstOrDefault(p => p.Id == item.ExamUserTicket.TicketId).Name;}
                <td>
                    @ticketName
                </td>
                <td align="right">
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-success w-75">Перейти</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
